{% extends "layout.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block pageTitle %}
  {% if errorSummary %}{{ common.errorPrefix }}{% endif %}{{ content.title }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: common.backLink,
    href: "/"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      {% if errorSummary %}
        {{ govukErrorSummary({
          titleText: common.errorTitle,
          errorList: errorSummary,
          attributes: { role: "alert" }
        }) }}
      {% endif %}

      <h1 class="govuk-heading-xl">{{ content.title }}</h1>

      <form action="/example-form" method="post" novalidate>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        
        {{ govukInput({
          label: {
            text: content.fields.fullName.label,
            classes: "govuk-label--m"
          },
          id: "fullName",
          name: "fullName",
          value: values.fullName,
          errorMessage: errors.fullName
        }) }}

        {{ govukInput({
          label: {
            text: content.fields.email.label,
            classes: "govuk-label--m"
          },
          hint: {
            text: content.fields.email.hint
          },
          id: "email",
          name: "email",
          type: "email",
          autocomplete: "email",
          value: values.email,
          errorMessage: errors.email and {
            text: errors.email.text
          }
        }) }}

        {{ govukSelect({
            id: "subject",
            name: "subject",
            label: {
                text: content.fields.subject.label
            },
            items: [
                {
                  value: "",
                  text: content.fields.subject.options.default,
                  selected: true
                },
                {
                  value: "help",
                  text: content.fields.subject.options.help,
                  selected: values.subject == "help"
                },
                {
                  value: "feedback",
                  text: content.fields.subject.options.feedback,
                  selected: values.subject == "feedback"
                }
            ],
            errorMessage: errors.subject and {
              text: errors.subject.text
            }
        }) }}

        {{ govukTextarea({
          name: "message",
          id: "message",
          label: {
            text: content.fields.message.label
          },
          value: values.message,
          errorMessage: errors.message and {
            text: errors.message.text
          }
        }) }}

        {{ govukButton({
          text: common.buttons.saveAndContinue
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
