{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block pageTitle %}
  {{ content.title }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ content.heading }}</h1>
      
      <p class="govuk-body">
        {{ content.intro }}
      </p>

      <h2 class="govuk-heading-l">{{ content.featuresIntro }}</h2>

      <ul class="govuk-list govuk-list--bullet">
        {% for feature in content.featuresListValues %}
          <li>{{ feature | safe }}</li>
        {% endfor %}
      </ul>

      {{ govukButton({
        text: content.startButton,
        href: "/example-form",
        isStartButton: true
      }) }}

      <h2 class="govuk-heading-l">{{ content.gettingStartedIntro }}</h2>
      <p class="govuk-body">{{ content.gettingStartedText }}</p>
      
      <ol class="govuk-list govuk-list--number">
        {% for step in content.gettingStartedSteps %}
          <li>{{ step | safe }}</li>
        {% endfor %}
      </ol>

      <h2 class="govuk-heading-l">{{ content.usefulLinksIntro }}</h2>
      <ul class="govuk-list">
        {% for link in content.usefulLinks %}
          <li><a class="govuk-link" href="{{ link.href }}">{{ link.text }}</a></li>
        {% endfor %}
      </ul>

      {{ govukInsetText({
        text: content.disclaimer
      }) }}
      
    </div>
  </div>
{% endblock %}
