{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  Home - {{ serviceName }} - GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">GOV.UK Fastify Starter</h1>
      
      <p class="govuk-body">
        This is a starter project for building GOV.UK Design System compliant websites using Fastify, TypeScript, and Nunjucks.
      </p>

      <p class="govuk-body">
        It includes:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Fastify server</li>
        <li>Nunjucks templates</li>
        <li>TypeScript</li>
        <li>GOV.UK Frontend (styles and scripts)</li>
        <li>PostgreSQL + Prisma integration</li>
      </ul>

      {{ govukButton({
        text: "Start now",
        href: "/example-form",
        isStartButton: true
      }) }}

    </div>
  </div>
{% endblock %}
