{% extends "govuk/template.njk" %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% block head %}
  <link href="/stylesheets/main.css" rel="stylesheet">
{% endblock %}

{% block pageTitle %}
  {{ serviceName }} - GOV.UK
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: serviceUrl
  }) }}
  
  <div class="govuk-width-container">
    {{ govukPhaseBanner({
      tag: {
        text: commonContent.phaseBanner.tag
      },
      html: commonContent.phaseBanner.text
    }) }}
  </div>
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
  {{ govukFooter({}) }}
{% endblock %}

{% block bodyEnd %}
  <script type="module">
    import { initAll } from '/javascripts/govuk-frontend.min.js'
    initAll()
  </script>
{% endblock %}
